:root {
    --bg-color: #2C313C;
    --bg-color-light: #343B48;

    --dark-yellow: #BEB495;
    --yellow: #FFE89E;
    --gray: #9CA5B7;
    --white: #FFFFFF;

}

.custom-scroll {
    overflow: auto;
    scrollbar-gutter: stable overlay;
}

.custom-scroll::-webkit-scrollbar {
    width: 18px;
    height: 18px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-button {
    background: transparent;
    display: none;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 9px;
    border: 7px solid transparent;
    background-clip: padding-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    display: flex; /* Center the window */
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure it takes full viewport height */
    overflow: hidden;

    font-family: 'Inter', 'Times New Roman';
}

.app-container {
    background-color: var(--bg-color);
    border-radius: 10px;
    width: 605px;
    height: 446px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Custom Top Bar Styling ---------------------------------------------------------------------- */
.top-bar {
    -webkit-app-region: drag; /* Allows dragging the window using this bar */
    height: 32px;
    background-color: var(--bg-color-light);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Make elements inside not draggable unless specified */
    * { -webkit-app-region: no-drag; }
}

.window-controls {
    display: flex;
}

.window-controls button {
    background: none;
    background-color: none;
    border: none;
    color: var(--text-color-light);
    font-size: 16px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease;
}

.window-controls button:hover img {
    filter: brightness(0) invert(1);
}

.window-controls button.minimize:hover {
    background-color: #3e4757;
}
.window-controls button.minimize:active {
    background-color: #4e5b72;
}

.window-controls button.close:hover {
    background-color: #d43845;
}
.window-controls button.close:active {
    background-color: #852830;
}


/* Tab Bar Styling */
.tab-bar {
    display: flex;
    background-color: none;
    padding: 0px, 0px, 20px;
    align-items: center;
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-item {
    background: none;
    background-color: none;
    border: none;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
    color: var(--gray);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.1em;

    font-family: inherit;
    transition: 0.1s ease;
}

.tab-item:first-child {
     margin-left: 0; /* Remove left margin for the first tab item */
}
.tab-item:last-child {
     margin-right: 0; /* Remove right margin for the last tab item */
}

.tab-item:hover {
    filter: brightness(80%) contrast(150%);
}
.tab-item.active {
    color: var(--white);
}

.tab-separator {
    width: 2px;
    border-radius: 1px;
    height: 15px;
    background-color: var(--bg-color-light);
}


/* Main Content Area Styling ---------------------------------------------------------------------- */

.content-area {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-top: 19px;
    padding-left: 26px;
    gap: 20px;
    overflow: hidden; /* Prevent content area itself from scrolling, let lists handle it */
}

/* Hide inactive tabs */
.tab-content {
    display: none;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
}

.tab-content.active-tab {
    display: flex;
}

.list-section {
    width: 135px;
    padding: 0px;
    margin: 0px;
    /* background-color: var(--bg-color-medium); */
    display: flex;
    flex-direction: column;
}

.list-section h3 {
    color: var(--gray);
    margin: 0 0 7px 0; /* Space below heading */
    padding-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.item-list {
    list-style: none; /* Remove default list bullets */
    background-color: var(--bg-color-light);
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    margin: 0;
    flex: 1; /* Allow the list to grow and take available space */
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
}

.item-list:hover {
    filter: brightness(115%);
}
.item-list:active {
    filter: brightness(95%);
}

.item-list li {
    color: var(--gray);
    padding: 8px 10px;
    cursor: default;
    
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.item-list li.selected-alt-buy {
    color: var(--dark-yellow);
}


/* Bottom Button Bar Styling ---------------------------------------------------------------------- */
.button-bar {
    padding: 26px 26px 17px;
    background-color: var(--bg-color-dark); /* Match window background */
    display: flex;
    justify-content: flex-start; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
}

.button-bar button {
    height: 30px;
    width: 112px;
    border-radius: 8px;
    border: none;
    background-color: var(--bg-color-light);
    color: var(--gray);
    cursor: pointer;
    outline: none;

    font: inherit;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;

    transition: 0.1s ease;
}

.button-bar button:hover {
    filter: brightness(115%)
}

.button-bar button:active {
    filter: brightness(95%)
}